<div class="row">
    <div class="col-md-12">
    {{#each orders}}
    <table class="table table-dark table-striped" style="width:100%">
    <tr>
        <td>Title</td>
        <td>Description</td>
        <td>Status</td>
        <td>Actions</td>
    </tr>
    <tr>
        <th>{{title}}</th>
        <th>{{description}}</th>
        <th>{{status}}</th>
        <th>
            <!-- DELETE REQUEST -->
                    
                        <div class="col-sm-3">
                            <select class="form-select" aria-label="Default select example" action="/orders/change-status/{{_id}}?_method=PUT" method="POST">
                                    <option value={{status}}>Choose option</option>
                                {{#if " status == 'PROCESS' " }}
                                    <option value="CANCELLED">CANCELLED</option>
                                    <option value="PICKING">PICKING</option>
                                {{/if}}
                                {{#if "status = 'PICKING'"}}
                                    <option value="SHIPPING">SHIPPING</option>
                                {{/if}}
                                {{#if "status = 'SHIPPING'"}}
                                    <option value="CLOSED">CLOSED</option> 
                                {{/if }}                             
                            </select>
                        </div>
                        <input type="hidden" name="_method" value="PUT">
                        {{!-- <button type="submit" class="btn btn-danger btn-block btn-sm">Change status</button> --}}
                        <a href="/orders/edit/{{_id}}"><i class="fas fa-edit"></i></a>
                    
        </th>
    </tr>
    </table>
    {{else}}
    <div class="card">
            <div class="card-body">
                <a href="/orders/add" class="title">Not data, Create one!</a>
            </div>
    </div>
      {{/each}}
    </div>
</div>
{{!-- <div class="row">
    {{#each orders}}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-betwen align-items-sm-center">
                        {{ title }} <a href="/notes/edit/{{_id}}"><i class="fas fa-edit"></i></a>
                    </h4>
                    <p>{{ description }}</p>
                    <!-- DELETE REQUEST -->
                    <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger btn-block btn-sm">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    {{else}}
    <div class="card">
            <h3 class="title">Not  data</h3>
    </div>
      {{/each}}
</div> --}}